#browser {
--colorFg: {{colors.on_surface.default.rgb}} !important;  /* foreground text */
--colorFgAlpha: rgba({{colors.on_surface.default.red}}, {{colors.on_surface.default.green}}, {{colors.on_surface.default.blue}}, 0.10) !important; /* foreground text */
--colorFgIntense: {{colors.on_surface.default.rgb}} !important; /* foreground text */
--colorFgFaded: {{colors.on_surface.default.rgb}} !important; /* unfocused window foreground text */
--colorFgFadedMore: {{colors.on_surface.default.rgb}} !important; /* unfocused window foreground text */
--colorFgFadedMost: {{colors.on_surface.default.rgb}} !important; /* unfocused window foreground text */
--colorBg: {{colors.secondary_container.default.rgb}} !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlpha: rgba({{colors.secondary_container.default.red}}, {{colors.secondary_container.default.green}}, {{colors.secondary_container.default.blue}}, 0.90) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavy: rgba({{colors.secondary_container.default.red}}, {{colors.secondary_container.default.green}}, {{colors.secondary_container.default.blue}}, 0.65) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavier: rgba({{colors.secondary_container.default.red}}, {{colors.secondary_container.default.green}}, {{colors.secondary_container.default.blue}}, 0.25) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaBlur: {{colors.surface.default.rgb}} !important; /* adress bar and selected tab */
--colorBgDark: {{colors.surface.default.rgb}} !important; /* n/a */
--colorBgDarker: {{colors.surface.default.rgb}} !important; /* n/a */
--colorBgLight: {{colors.surface.default.rgb}} !important; /* unfocused adress bar and selected tab */
--colorBgLighter: {{colors.surface.default.rgb}} !important; /* unfocused adress bar and selected tab */
--colorBgLightIntense: {{colors.surface_dim.default.rgb}} !important; /* n/a */
--colorBgIntense: {{colors.surface_dim.default.rgb}} !important; /* search field */
--colorBgIntenser: {{colors.surface_dim.default.rgb}} !important; /* search field */
--colorBgIntserAlpha: rgba({{colors.surface_dim.default.red}}, {{colors.surface_dim.default.green}}, {{colors.surface_dim.default.blue}}, 0.92) !important; /* search field */
--colorBgInverse: {{colors.surface_variant.default.rgb}} !important; /* only on crtl+f => not found */
--colorBgInverser: {{colors.surface_variant.default.rgb}} !important; /* only on crtl+f => not found */
--colorBgFaded: {{colors.primary.default.rgb}} !important; /* n/a */
--colorHighlightBg: {{colors.primary.default.rgb}} !important; /* text highlight and search field border */
--colorHighlightBgFaded: {{colors.primary_fixed_dim.default.rgb}} !important;  /* text highlight and search field border */
--colorHighlightBgAlpha: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.10) !important; /* text highlight and search field border */
--colorHighlightBgDark: {{colors.inverse_primary .default.rgb}} !important; /* text highlight and search field border */
--colorHighlightFg: {{colors.on_primary.default.rgb}} !important; /* selected text */
--colorHighlightFgAlpha: rgba({{colors.on_primary.default.red}}, {{colors.on_primary.default.green}}, {{colors.on_primary.default.blue}}, 0.50) !important; /* selected text */
--colorHighlightFgAlphaHeavy: rgba({{colors.on_primary.default.red}}, {{colors.on_primary.default.green}}, {{colors.on_primary.default.blue}}, 0.25) !important; /* selected text */
--colorAccentBg: {{colors.surface.default.rgb}} !important; /* tab bg color */
--colorAccentBgAlpha: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.55) !important; /* tab bg color */
--colorAccentBgAlphaHeavy: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.35) !important; /* tab bg color */
--colorAccentBgDark: {{colors.surface_container_low.default.rgb}} !important; /* n/a */
--colorAccentBgDarker: {{colors.surface_container_lowest.default.rgb}} !important; /* n/a */
--colorAccentBgFaded: {{colors.surface_dim.default.rgb}} !important; /* unfocused tab bg color */
--colorAccentBgFadedMore: {{colors.surface_container_low.default.rgb}} !important; /* n/a */
--colorAccentBgFadedMost: {{colors.surface_container_lowest.default.rgb}} !important; /* n/a */
--colorAccentBorder: {{colors.outline_variant.default.rgb}} !important; /* n/a */
--colorAccentBorderDark: {{colors.outline_variant.default.rgb}} !important; /* n/a */
--colorAccentFg: {{colors.on_surface.default.rgb}} !important;  /* tab titles and vivaldi sign */
--colorAccentFgFaded: {{colors.on_surface_variant.default.rgb}} !important; /* tab titles and vivaldi sign */
--colorAccentFgAlpha: rgba({{colors.on_surface.default.red}}, {{colors.on_surface.default.green}}, {{colors.on_surface.default.blue}}, 0.15) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlphaHeavy: rgba({{colors.on_surface.default.red}}, {{colors.on_surface.default.green}}, {{colors.on_surface.default.blue}}, 0.35) !important; /* tab titles and vivaldi sign */
--colorBorder: {{colors.outline.default.rgb}} !important; /* some borders */
--colorBorderDisabled: {{colors.surface_tint.default.rgb}} !important; /* some borders disabled */
--colorBorderSubtle: {{colors.outline.default.rgb}} !important; /* some borders disabled */
--colorBorderIntense: {{colors.outline_variant.default.rgb}} !important; /* some borders disabled */
--colorSuccessBg: rgb(118 100.00% 32.75%);
--colorSuccessBgAlpha: rgba(118 100.00% 32.75% / 0.10);
--colorSuccessFg: rgb(0 0.00% 100.00%);
--colorWarningBg: rgb(48 100.00% 50.00%);
--colorWarningBgAlpha: rgba(48 100.00% 50.00% / 0.10);
--colorWarningFg: rgb(0 0.00% 0.00%);
--colorErrorBg: {{colors.error_container.default.rgb}} !important;
--colorErrorBgAlpha: rgba({{colors.error_container.default.red}}, {{colors.error_container.default.green}}, {{colors.error_container.default.blue}}, 0.10) !important;
--colorErrorFg: {{colors.on_error.default.rgb}} !important;
/* --colorWindowBg: {{colors.error.default.rgb}} !important; new page monotone bg (replaces image background) */
/* --colorWindowFg: {{colors.error.default.rgb}} !important; fg for previos*/
}

/* in some color schemes settings appear too bright. this is meant to fix it. */
.vivaldi-settings,
.settings-content,
.settings-sidebar {
  background-color: {{colors.surface.default.rgb}} !important;
}
